* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
  background-color: #dbdbdb;
  padding: 1em;
}

.label__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

label {
  padding: 2em;
}

button {
  margin: auto;
  display: block;
  padding: 1em;
}

input {
  outline: none;
}

.user-input-span {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-icon {
  display: none;
}

.user-invalid {
  position: absolute;
  top: 10%;
  color: white;
  right: 26%;
  font-size: .6em;
  line-height: 1.5em;
  background: red;
  border-radius: 50%;
  width: 15px;
  text-align: center;
  font-weight: bolder;
}