* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
  background-color: #dbdbdb;
  padding: 1em;
}

.label__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

label {
  padding: 2em;
}

button {
  margin: auto;
  display: block;
  padding: 1em;
}

input {
  outline: none;
  border: none;
  padding: .5em;
}

.user-input-span-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  background-color: #fff;
}

.user-input-span-container.invalid::after {
  content: "❌";
}

.user-input-span-container.valid::after {
  content: "✅";
}